@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .card-hover-effect {
    transform-style: preserve-3d;

    &:nth-child(odd) {
      transform: perspective(1000px) rotateX(10deg) rotateY(12deg);
    }

    &:nth-child(even) {
      transform: perspective(1000px) rotateX(10deg) rotateY(-12deg);
    }
  }

  .merenda {

    &:hover {
      transform: perspective(500px) rotateX(3deg);
    }
  }
}
